<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Footer</title>
</head>

<body>
    <footer class="airbnb-footer">
        <div class="footer-container">

            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Safety information</a></li>
                    <li><a href="#">Cancellation options</a></li>
                    <li><a href="#">Our COVID-19 Response</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Hosting</h4>
                <ul>
                    <li><a href="#">Try hosting</a></li>
                    <li><a href="#">AirCover for Hosts</a></li>
                    <li><a href="#">Hosting resources</a></li>
                    <li><a href="#">Community forum</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>StayEase</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">Newsroom</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Follow us</h4>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a
                        href="https://www.linkedin.com/in/vishal-gautam-a0574429a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© 2026 StayEase · Privacy · Terms · Sitemap</p>
        </div>
    </footer>

    <script src="/css/script.js"></script>
</body>

</html>