<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll Navbar Example</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar" class="navbar navbar-expand-md border-bottom">
    <div>
      <div class="line-1">
        <div class="logo ">
          <img style="width: 55px;" src="/images/favicon.ico" alt="">
        </div>
        <div class="nav-links">
          <ul>
            <li><a style="color: red;" href="/listings"> <svg style="color: red;" xmlns="http://www.w3.org/2000/svg"
                  width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                  <path
                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                </svg><br>Homes</a></li>
            <li><a style="color: red;" href="#"><svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                  class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                  <path
                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                </svg><br>Experiences</a></li>
            <li><a style="color: red;" href="#"> <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                  fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
                  <path
                    d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882z" />
                  <path
                    d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0z" />
                </svg><br>Services</a></li>
            <li><a  style="color: red;" href="/listings/new"> <svg style="color:red" xmlns="http://www.w3.org/2000/svg"
                  width="25" height="25" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg> <br>Add Listings</a></li>
          </ul>

        </div>
        <div class="userlog">
          <% if(!currUser){%>
            <a style="text-decoration: none ; color: red; margin: 15px; font-size: 18px;" href="/signup"><svg
                style="color: red;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-person-circle " viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg> Sign up</a>
            <a style="text-decoration: none ; color: red; margin: 15px; font-size: 18px;" href="/login"><svg
                style="color: red;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
              </svg>
              Log in</a>
            <%}%>
              <%if(currUser){%>

                <a style="text-decoration: none ; color: red; margin: 15px; font-size: 18px;" href="/logout"><svg
                    xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                  </svg>Log out</a>
                <%}%>
        </div>

      </div>

      <div id="hidden" class="hidden">



        <div class="hidden1">
          <button class="btn">Anywhere</button>


          <button class="btn">Any time</button>


          <button class="btn">And guests</button>

        </div>

      </div>

      <div id="nav_search_box" class="nav_search_box">
        <div class="highlight"></div>
        <button class="btn text_start"><b>Where</b>
          <p>Search destinations</p>
        </button>
        <button class="btn text_start "><b>Check in</b>
          <p>Add dates</p>
        </button>
        <button class="btn text_start "><b>Check out</b>
          <p>Add dates</p>
        </button>
        <button class="btn text_start "><b>Who</b>
          <p>Add guests</p>
        </button>

      </div>

    </div>
  </nav>

  <!-- Content -->
  <section class="content">
    <!-- <h1>Scroll Down to See Navbar Change</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p> -->
    <div style="height:2000px;"></div> <!-- just for scrolling -->
  </section>

  <script src="/css/script.js"></script>
</body>

</html>